DATABASE_URL = postgresql://fastapi:fastapi123@localhost/blog_api_1
DB_USER = fastapi
DB_PASSWORD =fastapi123
DB_HOST = localhost
DB_PORT = 5432
DB_NAME = blog_api_1
JWT_ALGORITHM = HS256
JWT_EXPIRATION =15
API_KEY = 2dd3be4163fcc444f1b0d4b0c576bfabc1dc66ab8cc4345ddfd712b62dbce314
JWT_SECRET = bc4f4eeae20cbccf3129a37bdf2a780fc6f8e129130efce462315af092118280